<style>
    .container {
        position: relative;
        font-family: monospace;
        font-size: 10px;
        border: solid 1px gray;
        width: 300px;
        height: 200px;
    }

    .outline {
        border: solid 1px red;
        outline: solid 1px red;
    }

    .data {
        position: absolute;
        font-size: 11px;
        line-height: 140%;
        background: #fff;
        padding: 3px 10px 0px 3px;
    }

        .data span {
            white-space: pre;
        }

    .description {
        position: absolute;
        bottom: 3px;
        left: 3px;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
</style>
<div style="float:left; width: 300px;">
    <input type="checkbox" id="fill" ng-model="$ctrl.fill" /><label for="fill">Fill</label>
    <br />
    <input type="checkbox" id="owned" ng-model="$ctrl.owned" /><label for="owned">Owned</label>
    <br />
    <input type="checkbox" id="transactions" ng-model="$ctrl.transactions" /><label for="transactions">Transactions</label>
</div>
<div style="float:left; width: 300px;">
    <input type="checkbox" id="fishnet" ng-model="$ctrl.fishnet" /><label for="fishnet">Fishnet</label>
    <br />
    <input type="checkbox" id="bollinger_bands" ng-model="$ctrl.bollinger_bands" /><label for="bollinger_bands">Bollinger Bands</label>
    <br />
    <input type="checkbox" id="straight_line" ng-model="$ctrl.straight_line" /><label for="straight_line">Straight Line</label>
</div>
<div style="float:left; width: 300px;">
    <input type="checkbox" id="closing" ng-model="$ctrl.closing" /><label for="closing">Closing</label>
    <br />
    <input type="checkbox" id="double_line" ng-model="$ctrl.double_line" /><label for="double_line">Double Line</label>
    <br />
    <input type="checkbox" id="percentage_lines" ng-model="$ctrl.percentage_lines" /><label for="percentage_lines">Percentage Lines</label>
</div>
    <button ng-click="$ctrl.showICB = !$ctrl.showICB">ISB</button>
<div style="clear: both"></div>
    <table ng-if="$ctrl.showICB">
        <tr>
            <td>
                <input type="checkbox" ng-click="$ctrl.toggleAll()" checked />All<br />

                <span ng-repeat="i in [].constructor(20) track by $index">
                    <input type="checkbox" ng-model="$ctrl.icb[$index].active" />
                    {{$ctrl.icb[$index].description}}
                    ({{$ctrl.count($ctrl.icb[$index].code)}})
                    <span ng-if="$ctrl.invested($ctrl.icb[$index].code)">
                        ({{$ctrl.invested($ctrl.icb[$index].code).toFixed(2)}})
                    </span>
                    <br />
                </span>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <div ng-repeat="row in $ctrl.data" style="float: left; padding: 5px;" ng-click="row.selected = !row.selected" ng-if="$ctrl.active(row.ICB)">
        <div class="container" ng-class="{outline: row.selected}">
            <img ng-if="row.Images.Fill && $ctrl.fill" src="{{ 'data/img/' + row.Symbol + '_fill.png' }}" />
            <img src="{{ 'data/img/' + row.Symbol + '_chart.png' }}" />
            <img ng-if="row.Images.Owned && $ctrl.owned" src="{{ 'data/img/' + row.Symbol + '_owned.png' }}" />
            <img ng-if="$ctrl.straight_line" src="{{ 'data/img/' + row.Symbol + '_straight_line.png' }}" />
            <img ng-if="$ctrl.double_line" src="{{ 'data/img/' + row.Symbol + '_double_line.png' }}" />
            <img ng-if="$ctrl.percentage_lines" src="{{ 'data/img/' + row.Symbol + '_percentage_lines.png' }}" />
            <img ng-if="row.Images.Transactions && $ctrl.transactions" src="{{ 'data/img/' + row.Symbol + '_transactions.png' }}" />
            <img ng-if="$ctrl.fishnet" src="{{ 'data/img/' + row.Symbol + '_fishnet.png' }}" />
            <img ng-if="$ctrl.closing" src="{{ 'data/img/' + row.Symbol + '_closing.png' }}" />
            <img ng-if="$ctrl.bollinger_bands" src="{{ 'data/img/' + row.Symbol + '_bollinger_bands.png' }}" />

            <div class="data">
                <span style="font-size:12px">{{row.Symbol.toUpperCase()}}</span><br />
                <span>Min:     {{row.Min.toFixed(2).padStart(7)}} kr</span><br />
                <span>Max:     {{row.Max.toFixed(2).padStart(7)}} kr</span><br />
                <span>Closing: {{row.Closing.toFixed(2).padStart(7)}} kr</span><br />
                <span ng-if="row.Quantity" style="color: blue;"><b>Value:   {{(row.Quantity * row.Closing).toFixed(2).padStart(7)}} kr</b></span>
            </div>
            <span class="description">{{row.Description}}</span>
            <span class="percentage_lines">0 %</span>
        </div>
    </div>
